/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}a{text-decoration: none;}

/* Fonts */
@font-face {
    font-family: CaviarDreams;
    src: url(../fonts/CaviarDreams.ttf);
}

/* Global */
body {
  font-family: sans-serif;
  background-color: #f9ebdd;
}
a {

}
.button {
  text-transform: uppercase;
  border: 1px solid #FFF;
  color: #FFF;
  padding: 12px 21px;
  font-size: .9em;
  letter-spacing: 2px;
  transition: color .2s, background-color .2s;
  margin-top: .2em;
  display: inline-block;
  &:hover {
    background-color: #FFF;
    color: #000;
  }
  &.main {
    color: #4e888e;
    border: 2px solid #95b39c;
    border-radius: 3px;
    &:hover {
      color: #FFF;
      background-color: #95b39c;
    }
  }
}
.title {
  padding: 12px 21px;
  color: #4e888e;
  border: 2px solid #95b39c;
  border-radius: 3px;
}

/* Live */
#live {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 17%;
  height: 3.7em;
  background-color: grey;
  padding: 1em 2.5em;
  display: none;
  p {
    color: #FFF;
  }
  a {
    margin-top: .4em;
    display: block;
    text-align: center;
  }
}

/* Header */
header {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .iut-montaigne {
    width: 7em;
    margin-left: 3em;
  }
  .logo {
    height: 9em;
  }
  div {
    margin-right: 3em;
    width: 7em;
  }
}

/* Intro */
#intro {
  margin: 2em 4em 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .video {
    width: 60%;
    iframe {
      padding: .6em;
      border: 2px solid #95b39c;
      width: 100%;
    }
    img {
      width: 50px;
      display: block;
      margin: 0 auto;
    }
  }
  .side {
    width: 30%;
    .bloc {
      margin-bottom: 2em;
      h1,
      h2 {
        margin-bottom: .6em;
        font-size: 1.5em;
        color: #4e888e;
        font-weight: 300;
      }
      h2 {
        text-transform: uppercase;
      }
      h5 {
        font-size: .7em;
        text-transform: uppercase;
        margin: .4em 0;
        color: #95b39c;
        span {
          text-transform: capitalize;
        }
      }
    }
  }
}

/* Details */
#details {
  display: flex;
  justify-content: space-between;
  margin: 2em 2em 1em;
  .container {
    width: 65%;
    padding: 0 2em;
    text-align: center;
    margin-top: 1.5em;
    .presentation {
      background-color: #4e888e;
      padding: 2em 3em;
      color: #FFF;
      font-weight: 100;
      margin-bottom: 4em;
      border-radius: 3px;
      box-shadow: 20px 20px 0px #95b39c;
      h2 {
        text-align: center;
        font-size: 1.6em;
        margin-bottom: .6em;
        font-family: CaviarDreams;
      }
      p {
        line-height: 25px;
        text-align: left;
      }
    }
    .iut-pic {
      width: 103%;
      margin: 3em 0 2em -10px;
      border-radius: 3px;
    }
    .title {
      display: inline-block;
      width: 10em;
      margin: 2em auto 1em;
      font-size: 1.3em;
    }
  }
  .side {
    width: 25%;
    margin-right: 2em;
    .title {
      margin-bottom: 2em;
      display: inline-block;
    }
    li {
      height: 14em;
      width: 14em;
      margin-bottom: 2em;
      border-radius: 4px;
      text-align: center;
      transition: all .2s;
      span:first-child {
        padding-top: 4.5em;
        display: block;
      }
      span,
      hr {
        opacity: 0;
      }
      span {
        font-size: 1.2em;
        color: #4e888e;
      }
      hr {
        width: 80%;
        background-color: #95b39c;
        border: none;
        height: 2px;
      }
      &:before {
        content: "";
        position: absolute;
        height: 14em;
        width: 14em;
        background-color: #FFF;
        opacity: 0;
        z-index: 1;
        transition: all .2s;
        display: block;
      }
      &:hover {
        &:before {
          opacity: .8;
        }
        span,
        hr {
          position: relative;
          opacity: 1;
          z-index: 999;
        }
      }
    }
  }
  .advertisers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin-top: 2.5em;
    .left,
    .right {
      li {
        margin: 0 1em;
        h5 {
          margin-bottom: 1em;
          color: #95b39c;
        }
        img {
          height: 5em;
          width: auto;
          margin-bottom: 2em;
        }
      }
    }
  }
}

/* Footer */
footer {
  padding: 1em 0;
  text-align: center;
  background-color: #4e888e;
  color: #FFF;
  font-weight: 200;
  a {
    color: #FFF;
    font-weight: 400;
  }
}

/* Logos IUT */
#iut-logos {
  margin: 3em auto 2em;
  width: 75%;
  text-align: center;
  .title {
    margin-bottom: 1em;
    display: inline-block;
  }
  .iut {
    text-align: center;
    img {
      height: 6em;
      width: auto;
      margin: 2em;
    }
  }
}

@media screen and (max-width:960px) {
  #details {
    display: block;
    margin-top: 1em;
    .iut-pic {
      margin-top: 0;
      margin-bottom: 0;
    }
    .container {
      margin-top: 0;
    }
    .container, .side {
      display: block;
      width: 100%;
      padding: 0;
    }
    .advertisers {
      margin-top: 0;
      .left, .right {
        text-align: center;
      }
    }
    .side {
      text-align: center;
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        li {
          margin: 1em 1em;
        }
      }
    }
  }
  #iut-logos .title {
    display: inline;
  }
}

@media screen and (max-width:750px) {
  #intro {
    flex-direction: column;
    text-align: center;
    .video {
      width: 90%;
    }
    .side {
      width: 100%;
      text-align: center;
      margin-top: 2em;
      .button {
        display: block;
        width: 50%;
        margin: 0 auto 2em;
      }
    }
  }
}
